*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > div {
    border:1px solid red;
    width: 90%;
    margin: 20px auto;
    
}
div > div {
    width: 150px;
    height: 150px;
    margin: 70px;
    font-size: 2rem;
}

.translate {
    background-color: lightgreen;
    transform: translate(200px, 50px);
}

.rotate {
    background-color: lightpink;
    transform: rotate(60deg);

}

.origin {
    transform-origin: 150px 200px; /* Indica el punto al partir del que se realiza la transformación */
}

.scale {
    background-color: lightseagreen;
    transform: scale(0.5, 1);
}

.skew {
    background-color: lightgray;
    transform: skew(20deg, 20deg);
}

.combi {
    transform: translate(150px, 150px) scale(2,2) rotateX(-65deg) rotateY(60deg);
}




.hover {
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: .5s;
}

.hover:hover {
    transform: translate(0, -200px) scale3d(2, 2, 2) rotate3d(1, 1, 0, 180deg);  
}

.perspective2 {
    perspective: 150px;
}







